<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.kulakov.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>RecentlyClosedTabs</string>
	<key>NSPrincipalClass</key>
	<string>RCTPluginMain</string>
	<key>SpiceRack</key>
	<dict>
		<key>TargetID</key>
		<string>com.apple.Safari</string>
		<key>AlertType</key>
		<string>log</string>
		<key>Homepage</key>
		<string>http://twitter.com/kentzo</string>
		<key>MinVersion</key>
		<string>4.0.4</string>
	</dict>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
	<key>SUShowReleaseNotes</key>
	<string>NO</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
	<key>SUAllowsAutomaticUpdates</key>
	<string></string>
</dict>
</plist>
